body{
	 

}

.wrapper{
	background: #eee;
	height: 100%;
	
}
section{
	height: 100%;
}
.banner{
	padding: 10px;
	 background-image: url("../images/bg.jpg");
	 color:white;
	}
.inactive{
	display: none;
}
.vote-img{
	width: 20px;
	height: 20px;
}

.item{
	height: 700px;
}
.inner-item{
	height: 100%;
}
.footer-item{
	 position: absolute; 
	  left: 0; 
	  right: 0; 
	  margin-left: auto; 
	  margin-right: auto; 
	  bottom:10px;
}


.wrapper{
	padding: 15px;
}
